@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400;800&display=swap');

body {
  font-family: 'JetBrains Mono', monospace;
}

h1 {
  font-weight: 800;
  text-align: center;
  color: #43036d;
}

h2 {
  font-weight: 100;
}
.styled_link {
  text-decoration: none;
  color: inherit;
}

.input-color {
  background-color: transparent;
  border: 1px solid black;
  outline: none;
  width: 50px;
  height: 50px;
  clip-path: inset(0 round 10%);
}

.input-color::-webkit-color-swatch {
  border: 1px solid black;
  clip-path: inset(0 round 10%);
}

.input-color::-moz-color-swatch {
  border: 1px solid black;
  clip-path: inset(0 round 10%);
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.responsive-banner {
  width: 100%;
  height: auto;
}

@media (min-width: 1024px) {
  .responsive-banner {
    width: 50%;
    max-width: 400px;
  }
}
